@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
a {
  color: inherit;
  text-decoration: none;
}

body .header {
  text-align: center;
}

.section1 .write_wrap {
  margin-top: 35px;
}

.section1 .write_wrap .write {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.section1 .write_wrap .write a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444444;
  color: white;
  font: 300 18px "Noto Sans KR", sans-serif;
  letter-spacing: 1.5px;
  width: 100px;
  height: 40px;
}

.section1 .list {
  display: flex;
  flex-direction: column-reverse;
}

.section1 .list .page {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.section1 .list .page span {
  margin: 0 7px;
  cursor: pointer;
}

.section1 table,
.section1 th,
.section1 td {
  border: 1px solid #444444;
}

.section1 tr th:nth-child(2),
.section1 tr td:nth-child(2) {
  width: 45%;
}

.section1 table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section1 th,
.section1 td {
  padding: 10px;
  text-align: center;
}

.section1 tbody tr {
  cursor: pointer;
  height: 45px;
}
